html { 
    background: url(../images/background2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
    font-family: 'Caveat', cursive;
}

header {
    margin-top: 3rem;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

#score {
    display: none;
}

.container {
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
}


#gameRow,
#scoreRow {
    background-color: rgb(185, 183, 183);
    font-size: 2rem;
    flex-direction: column;
    margin-bottom: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#scoreRow {
    padding: 2rem;
    margin: 4rem 25%;
    text-align: center;
}

.questionDisplay {
    padding: 1rem;
    border: none;
}

img {
    width: 400px;
    height: 400px;
    align-self: center;
    margin: 1.5rem .5rem;
}

button {
    width: auto;
    background-color: inherit;
    border: none;
    margin: 1rem 1rem;
    font-size: 2.5rem;
}

span {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}